@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #3f3d56 !important;
}

.next,
.previous {
  font-size: 1rem;
}
li a {
  font-size: 1rem;
  margin-right: 0.5rem !important;
  outline: 1px solid #47ccde;
  padding: 3px;
}
